body {
	font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden; 
}
ol, ul {
	list-style: none;
}

.banner{
	height: 480px;

}

.mujer h1{
	color:red;
	font-size: 40px;
	text-align: center;	
	font: oblique bold 300% cursive;
	text-shadow: 0 0 1em black;
}

.mujer h3{
	color:#333;
	line-height:1.5;
	font-weight:400;
	max-width:960px;
	padding-top:50px;
	margin:0 0 20px 150px;
	font-family: "Homer Simpson", cursive;
	font-size:18px;
	padding-bottom:10px;
	border-bottom: 4px double #eee;
}

.section-padding{
    padding: 60px 0px;
}

.header-h {
    color: #FFB03B;
    font-size: 46px;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}
.header-p {
    color: #9699a6;
    font-size: 16px;
}

#mujeres1{
	background: url('img/fdMujeres1.jpg') no-repeat;
    background-size: cover;
}
/********GALERIA********/

.galeria{
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 10px 10px 8px 10px #888888;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li{
	margin: 15px;	
}

.galeria img{
	width: 250px;
	height: 230px;
}
/*********FOTO*********/
.foto{
	position: absolute;
	left: -100%;
}

.foto:target {
	transition: all 3s;
	position: fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.foto h3{
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 15px 0;
}

.imagen{
	width: 100%;
	height: 88%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen a{
	color: #fff;
	font-size: 80px;
	text-decoration: none;	
	margin: 25px;
	
}

.imagen a:nth-child(2){
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.imagen img{
	width: 700px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.cerrar {
	position: absolute;
	right: 10%;
	background: #fff;
	width: 40px;
	height: 40px;
	margin: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}

.cerrar:hover {
	text-decoration: none;
	background: #8BDECD;
}

/****************FIN ESTILO MUJERES*************************/

/*********HOMBRES************/

.bnHombres {
	margin-top: 76px;
	height: 350px;
}

.styleAbout{
	font-family: sans-serif;
}

.styleAbout h3{
	font-family: fantasy;
	font-size: 40px;
}

.styleAbout img{
	border: 5px;
	border-radius: 10px;
	border-style: inset;
	border-color: #075A74;
	box-shadow: 10px 10px 8px 10px #888888;
	width: 400px;
	height: 400px;
}
/*****PORTAFOLIO****/
.porta h1{
	margin-top: 100px;
	margin-bottom: 15px;
	margin-left: 400px;
}

.contacto{
	background-color: rgba(21, 154, 196,0.3);
	padding-bottom: 110px;
}

.contacto h1{
	margin-top: 100px;
	margin-bottom: 35px;
	font-family: fantasy;
	font-size: 40px;
	color: black;
	margin-left: 20%;
}

.contacto strong{
	font: oblique bold 120% cursive;
	font-size: 20px;
	margin-left: 15px;
}
.contacto label{
	font: caption;
	font-weight:400;
	line-height:2.2;
	margin-left: 10px;
}
.contacto a{
	color: black;
	text-decoration: none;
	font: caption;
	font-weight:400;
	line-height:1.3;
	margin-left: 10px;

}
.contacto img{
	width: 30px;
	height: 30px;
	margin-left: 20%;
}

.mensaje{
	background-color: rgba(21, 154, 196,0.1);
	padding-bottom: 30px;
}
.mensaje h1{
	margin-top: 100px;
	padding-bottom: 20px;
}

.final{
	padding-top: 50px;
	padding-bottom: 50px;
}

/********TECNOLOGIA*********/
.bnTecno {
	margin-top: 83px;
	height: 350px;
}
.tecno h1{
	font-family: fantasy;
	padding-bottom: 50px;
}
.tecno img{
	border: 5px;
	border-radius: 10px;
	border-style: inset;
	border-color: #075A74;
	box-shadow: 10px 10px 8px 10px #888888;
	width: 230px;
	height: 230px;
}
.conte2{	
	background-color: rgb(167,197,213);
	border-style: groove;
	padding: 10px 20px 10px 20px;
	margin-bottom: 150px;
}
/***********carrousel 3D******/

.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

/************stilo letter*********/

.tec h1{
	color:black;
	font-size: 60px;
	text-align: center;	
	font-family: fantasy;
	padding-bottom: 20px;
	text-shadow: 0 0 1em black;
}

.tec h3{
	color:#333;
	line-height:1.5;
	font-weight:400;
	max-width:960px;
	padding-top:50px;
	margin:0 0 20px 150px;
	font-family: "Homer Simpson", cursive;
	font-size:18px;
	padding-bottom:50px;
	border-bottom: 4px double #eee;
}





